@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');

 /* ////// This sets all margin and padding to 0 so page will go right to the end  */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* ////// This is setting the font style and font weight as per google fonts with colour */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings & Logo */

/* ////// This is setting all elements to a font with all uppercase with letter spacing & colour */
h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

/* ////// This is setting the text logo to float to the left so all the other elements will wrap around it */
#logo {
    float: left;
    font-size: 280%;
    padding: 5px;
    margin-left: 10px;

}

/* Navigation */

/* ////// font size and letter spacing inline with the letter logo */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    /* display: flex;
    flex-direction: row-reverse */
}

/* ////// sets the same line height to txt logo and menu look alinged */
#menu, #logo {
    line-height: 75px;
}

/* ////// This is so the li items will move to the left of the page with bullet points removed and spacing on right */
#menu li {
    float: right;
    list-style: none;
    margin-right: 50px;
}

/* ////// This is to remove the underline on the a elements */
#menu a {
    text-decoration: none;
    color: inherit;
}

/* ////// This styles the a link when the cursor hovers over them */
#menu a:hover {
   border-top: 1px solid #3a3a3a; 
}

/* ////// This leaves a constant border under the home page to indicate this is the page they are on  */
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* ////// This ensures the background image dosent cover the txt logo and nav  */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


/* ////// Setting background image  */
#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* ////// creates a level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);

    }
    to {
transform: scale(1.1);
    }

}

/* ////// This sets the cover box ontop of the backgroubd image */
#cover-text {
    color: white;
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left:10px;

    background-color: rgba(241, 109,107, 7);

    bottom: 30px;
    right: 150px;
    position: absolute;
}

/* Club Ethos */


/* ////// Setting the same height as the background image */
#club-ethos {
    height: 600px;
}

/* ////// Setting top padding and width a 3rd of the screen size positioned to the left */
#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

/* ////// Setting top padding and width a 3rd of the screen size positioned to the right */
#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    
}

/* ////// Setting top padding and width a 3rd of the screen size positioned in the center*/
#center-about {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

.same {
    margin-bottom: 10px;
}

/* ////// text positioned right with width and spacing at the bottom */
.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

/* ////// text positioned left with width and spacing at the bottom */
.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

/* ////// Further positioning header to the right */
.right-about-heading h2 {
    text-align: right;
}

/* ////// Further positioning paragraph to the right */
.right-about-heading p {
    text-align: right;
}

/* ////// Setting h2 text to center, margin for spacing from top and bottom and font size */
#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

/* ////// creating the container for the circle image and getting the width, height, border radius */
#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 0 auto;
        
}

/* ////// adding cicle image and positioning it inline with the top text  */
#circle-cover-bg {
    background: url("../images/ethos-center-image.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
    position: relative;
    bottom: 40px;

}











